<form class="form">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Todas las estrellas
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <span class="icon icon-star"></span>
      <span class="icon icon-star"></span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <span class="icon icon-star"></span>
    </label>
  </div>
</form>
